:root {
    /* Paleta base */
    --color-bg: #121212;
    /* Fondo general oscuro */
    --color-surface: #1e1e2f;
    /* Fondos de secciones, aside, tarjetas */
    --color-primary: #7c3aed;
    /* Acento violeta (botones, enlaces) */
    --color-secondary: #f59e0b;
    /* Acento naranja suave */
    --color-border: #2c2c3a;
    /* Bordes sutiles */
    --color-text: #e4e4e7;
    /* Texto principal */
    --color-muted: #a1a1aa;
    /* Texto secundario */
    --color-hover: #9333ea;
    /* Hover violeta más fuerte */
    --color-alert: #ef4444;
    /* Para errores o alertas */

    /* Nav específico */
    --color-nav: #18181b;
}

@keyframes cambiarFondo {
    0% {
        background-image: url("../../assets/fondo/adi-goldstein-2B89G7ZHYMQ-unsplash.jpg");
    }

    20% {
        background-image: url("../../assets/fondo/joseph-recca-0115krVNoXw-unsplash.jpg");
    }

    40% {
        background-image: url("../../assets/fondo/kaushik-dey-kB3d2H-CpCI-unsplash.jpg");
    }

    65% {
        background-image: url("../../assets/fondo/kenny-eliason-zMp8AEXbPTU-unsplash.jpg");
    }

    85% {
        background-image: url("../../assets/fondo/lorenzo-semadeni-BS45NoLKDYo-unsplash.jpg");
    }

    100% {
        background-image: url("../../assets/fondo/adi-goldstein-2B89G7ZHYMQ-unsplash.jpg");
    }
}



.body {
    display: flex;
    flex-direction: column;
    min-height: 92.5vh;
    margin: 0;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
    animation: cambiarFondo 15s infinite ease-in;
    overflow-y: hidden;
}

.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {
    display: flex;
    width: 100vw;
    height: 10vh;
    color: var(--color-text);
    justify-self: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-surface);
}

.header>h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.footer {
    background-color: var(--color-surface);
    color: var(--color-muted);
    text-align: center;
    height: 2vh;
    width: 100vw;
}

.toggleLoginReg {
    display: flex;
    width: 23.5%;
    height: 100%;
    color: var(--color-text);
    font-size: larger;
    margin-top: 25px;
    border-radius: 5px;
    justify-self: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-surface);

}

.toggleLoginReg p {
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    user-select: none;
}

.toggleLoginReg:hover {
    color: var(--color-hover);
    cursor: pointer;
    text-decoration: underline;
}

header,
.forms {
    margin-bottom: 20px;
}