.mt {
    margin-top: 0.5rem;
    border-top: 1px solid var(--color-border);
    width: 100%;
}
.mt h3{
    color: var(--color-text);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.mt .space {
    border-top: 1px solid var(--color-border);
    padding: 0.5rem;
}

.mt .space .comment {
    border: 1px solid var(--color-border);
    padding: 0.5rem;
    margin-bottom: 0.3rem;
    color: var(--color-text);
}

.formContainerComment textarea {
    width: 98.5%;
    margin-left: 0.8%;
    height: 3rem;
    max-width: 98.5%;
    min-width: 98.5%;
    max-height: 12dvh;
    min-height: 6dvh;
    resize: none;
    background: var(--color-border);
    outline: none;
    color: var(--color-text);
    padding: 0.2rem;
}

.formContainerComment button {
    margin-top: 0.5rem;
    width: 20%;
    height: 2rem;
    border-radius: 20px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-text);
}