@media (max-width: 768px){
    
.imageContent .multimedia{
    width: 100%;
}

.imageContent .multimedia a,video{
    width: 100%;
}

.menu-container {
    height: 4vh;
    width: 4vh;
    position: relative;
}
.menu-container .ellipsis {
    cursor: pointer;
    margin-top: -0.5rem;
}

.post-header {
    width: 95%;
    display: flex;
    height: auto;
    color: var(--color-text);
}
.post-header p {
    width: 90%;
    overflow-wrap: break-word;
    word-wrap: break-word;     
}


}