:root {
  --color-nav: #18181b;
  --color-border: #2c2c3a;
  --color-hover: #9333ea;
  --color-text: #e4e4e7;
}
.userArticlePostDiv {
    width: 100%;
    height: 45vh;
    background: #2d2d2e;
    border-radius: 0.5rem;
}
.userArticlePostDiv:hover{
    cursor: pointer;
    opacity: 0.6;
}

.userArticlePostDiv article {
    width: 100%;
    height: 100%;
}
.userArticlePostDiv article img{
    width: 100%;
    height: 80%;
    object-fit:cover;
}
.userArticlePostDiv article div{
    width: 100%;
    height: 20%;   
}
.userArticlePostDiv article div{
    padding: 0.4rem;
    color: var(--color-text);
}
