.feed-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit-modal {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 40vh;
    color: var(--color-text);
    background-color: var(--color-nav);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.edit-modal input{
    background: var(--color-border);
    color: var(--color-text);
    border: none;
    margin-bottom: 0.4rem;
}
.edit-modal textarea{
    width: 100%;
    height: 60%;
    background: var(--color-border);
    border: none;
    resize: none;
    padding: 0.2rem;
    color: var(--color-text);
}
.edit-modal button{
    width: 30%;
    height: 10%;
    background: var(--color-border);
    border: none;
    border-radius: 20px;
    color: var(--color-hover);
    font-size: 1.2rem;
}
.edit-modal button:hover{
    background: var(--color-hover);
    color: var(--color-text);
    cursor: pointer;
}