@media (max-width: 768px) {
    .user {
    width: 100%;
    height: auto;
}
.user img {
    margin-top: 0.5rem;
    width: 12vw;
    height: 12vw;
    object-fit: contain;
}
.user .textdatauser {
    margin-top: 0.5rem;
    width: auto;
}
.user .textdatauser h3 {
    font-size: 1rem; /* más consistente que vh */
}
.user .textdatauser p {
    font-size: 0.8rem;
}

.social-interactions {
    border-top: 1px solid #494949f2;
    color: var(--color-text);
    width: 100%;
}

.menuOptions {
    position: absolute;
    top: 100%; /* aparece debajo del menú */
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 30vw;
    height: auto;
    font-size: 12px;
    list-style: none;
    color: var(--color-text);
    background: var(--color-border); /* opcional para diferenciar */
    border: 2px solid var(--color-border); /* opcional */
}
.menuOptions li {
    width: 100%;
    padding: 0.4rem;
    text-align: center;
    cursor: pointer;
}

.multimedia-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
}

@media(min-width: 769px)and (max-width: 1280px){
    .publish{
        width: 100%;
    }
}