

.containerHome {
  width: 100vw;
  background: var(--color-surface);
  z-index: 1;
  min-height: 100vh;   /* permite scroll */
  position: relative;  /* evita el recorte */

}

/* ====== HERO ====== */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  height: auto;
  text-align: center;
  gap: 1rem;
}

.icon {
  width: 200px;
  height: 200px;
}

.hero h1 {
  font-size: 4.5rem;
  margin: 0;
  color: #1d6ca1;
}

.hero p {
  font-size: 1.2rem;
  color: #74a2c3;
  max-width: 700px;
}

/*  AUTO-SCROLL CARDS */
.grid-container {
  overflow: hidden;
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  mask-image: linear-gradient(to right,
      transparent,
      black 10%,
      black 90%,
      transparent);
}

.track {
  display: flex;
  animation: scroll 25s linear infinite;
  will-change: transform;
}

.card {
  margin: 1rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 1.5rem;
  border-radius: 20px;
  font-size: 1.5rem;
  text-align: left;
  flex-shrink: 0;
  width: 22vw;
  min-height: 25vw;
}

.card:hover {
  background-color: var(--color-hover);
}

@keyframes scroll {
  from { transform: translate3d(0, 0, 0); }
  to   { transform: translate3d(-55%, 0, 0); }
}

/* BUTTONS  */
.btn {
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 14px;
  margin: 0 0.5rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}


/*         MOBILE            */

@media (max-width: 600px) {

  /* Header centrado */
  .hero {
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    gap: 1rem;
  }

  .icon {
    width: 120px;
    height: 120px;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .grid-container {
    height: 40vh;
  }

  /* Cards sin recorte */
  .card {
    width: 80vw;
    min-height: auto;
    height: auto;
    font-size: 1.2rem;
    padding: 1rem;
  }

  /* Botones en columna */
  .buttons {
    flex-direction: column;
    gap: 0.7rem;
    margin-bottom: 2rem;
  }

  .btn {
    width: 80%;
    text-align: center;
  }
}


/*         TABLETS           */

@media (min-width: 600px) and (max-width: 992px) {
  .hero h1 {
    font-size: 3rem;
  }

  .icon {
    width: 150px;
    height: 150px;
  }

  .card {
    width: 35vw;
    min-height: 30vw;
    font-size: 1.3rem;
  }
}


/*      GRANDE      */

@media (min-width: 1400px) {
  .card {
    width: 18vw;
    min-height: 20vw;
    font-size: 1.6rem;
  }

  .hero h1 {
    font-size: 5rem;
  }
}
