@font-face {
    font-family: 'Solway';
    src: url('../assets/font/Solway-Regular.ttf');
}

:root{
      /* Paleta base */
    --color-bg: #121212;
    /* Fondo general oscuro */
    --color-surface: #1e1e2f;
    /* Fondos de secciones, aside, tarjetas */
    --color-primary: #7c3aed;
    /* Acento violeta (botones, enlaces) */
    --color-secondary: #f59e0b;
    /* Acento naranja suave */
    --color-border: #2c2c3a;
    /* Bordes sutiles */
    --color-text: #e4e4e7;
    /* Texto principal */
    --color-muted: #a1a1aa;
    /* Texto secundario */
    --color-hover: #9333ea;
    /* Hover violeta más fuerte */
    --color-alert: #ef4444;
    /* Para errores o alertas */
    /* Nav específico */
    --color-nav: #18181b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Solway', Arial;

}

.signupdiv {
    border: 2px solid var(--color-border);
    opacity: 0.95;
    display: flex;
    width: 45vw;
    height: 50vh;
    justify-self: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--color-surface);
    border-radius: 20px;
    margin-top: 5vh;
}

#signup {
    width: 45vw;
    height: 62vh;
}
.signupdiv h2{
    color: var(--color-text);
}

.separate{
    display: flex;
    justify-content: space-around;
    height: 20%;
}
.separate div{
    display: flex;
    flex-direction: column;
}
.name{
    width: 100%;
}
.email{
    width: 100%;
}
.password{
    width: 100%;
}
.country{
    width: 100%;
}
.separate div input{
    width:20vw;
    height: 4.5vh;
    margin-top: 5px;
    border-radius: 10px;
    padding-left: 5px;
}
.separate div label{
    color: var(--color-text);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: larger;
}
#country{
    width: 10vw;
    height: 4vh;
    border-radius: 10px;
    border: 2px solid var(--color-border);
}


form > div {
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
}

form > div > label {
    color: var(--color-text);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
}

form > div > input {
    width: 250px;
    text-align: center;
}

.signupbtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    width: 100%;
}
.signupbtn > button {
    background-color: var(--color-primary);
    color: var(--color-text);
    width: 50%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
} 
