.menu-container {
    width: 3vw;
    height: 4vh;
    z-index: 1;
}
.menuOptions {
    background: var(--color-border);
    border: 1px solid var(--color-border);
    width: 8vw;
    list-style: none;
    margin-left: -3.5vw;
}
.menuOptions li {
    cursor: pointer;
}
.menuOptions li:hover {
    background: var(--color-hover);

}

.delete-modal {
    color: var(--color-text);
}


.delete-modal{
    border: 1px solid var(--color-border);
    z-index: 10;
    position: fixed;
    width: 95%;
    height: 30%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background: var(--color-nav);
    border-radius: 20px;
    display: flex;
    padding: 1rem;
}
.delete-modal h2{
    font-size: 20px;
    width: 100%;
    height: 50%;
}
.delete-modal button{
    width: 45%;
    height: 20%;
    border-radius: 20px;
    border: var(--color-border);
    background: var(--color-border);
    color: var(--color-text);
}
.delete-modal button:hover {
  background-color: var(--color-hover);
  color: var(--color-text);
}