.articlePage{
    width: 100vw;
    height: 100%;
}
.articlePage .back-btn{
    position: absolute;
    width: 10%;
    height: 5%;
    left: 1%;
    top: 1%;
    background-color: var(--color-border);
    border: none;
    color: var(--color-hover);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
}
.articlePage .back-btn:hover{
    background-color: var(--color-hover);
    color: var(--color-text);
}
article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articlePage .imageArticle{
    margin-top: 1.5vh;
    width: 70%;
    height: 55%;
    border: var(--color-nav);
    border: 4px solid var(--color-nav);
}
.articlePage .imageArticle img{
    border: px solid var(--color-nav);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textArticle{
    width: 70%;
    height: 100%;
    background: var(--color-nav);
    color: var(--color-text);
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
}
.textArticle h1{
    font-size: 2rem;
    padding: 1rem;
}
.textArticle time{
    font-size: 1rem;
    padding: 1rem;
}
.textArticle .article-content{
    padding: 1rem;
    font-size: 1.1rem;
    line-height: 1.2;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
