@media(min-width: 768px) {
.p-galleria-content{
    width: 100%;
    margin: auto;
}
.p-galleria{
    width: 100%;
    height: 60vh;
}

.p-galleria-item{
    width: 100%;
    height: 100%;
 }
.p-galleria img{
    width: 100%;
    height: 60vh;
    object-fit: contain;
    object-position: center;
}
.p-galleria-thumbnail-container{
    width: 100%;
    height: 100%;
    display: none;   
}
.p-galleria-thumbnail-items-container{
    width: 100%;
    height: 100%;
}

.p-reset {
    width: 100%;
    background-color: #18181b;
}
.p-items-hidden{
    width: 30%;
    height: 30%;
}
}