@media (max-width: 768px) {
  /* Estilos para smartphones */
  nav {
  position: fixed;
  top: 0;
  transition: left 0.3s ease-in-out;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

   
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tabletas */
}

@media (min-width: 1025px) {
  /* Estilos para escritorios */
}